{{> header}}
<div class="container">
    <div class="row col-lg-8 offset-lg-2">
        <div class="jumbotron ">
            <h1 class="display-4">Bil481-HW1-Finding Common elements in Array Lists</h1>
            <p class="lead">This tool expects you to enter two arrays, min and max value, then outputs a arraylists of integers whichs every element on this array exists in arraylist1 and arraylist2 and the value is between min and max value.</p>
            Result is {{result}}
            <form action="compute" method="post">
                <div class="col-lg-8 form-group">
                    <label class="text-center" for="input1">Enter the elements of the ArrayList 1, please enter 1 integer on every line</label>
                    <textarea class="form-control" id="input1" name="input1" rows="10"></textarea>
                </div>
                <div class="col-lg-8 form-group">
                    <label class="text-center" for="input2">Enter the elements of the ArrayList 2, please enter 1 integer on every line </label>
                    <textarea class="form-control" id="input2" name="input2" rows="10" ></textarea>
                </div>
                <div class="form-group col-lg-4">
                    <label for="input3">The min value for the search</label>
                    <textarea class="form-control" id="input3" name="input3" rows="1" cols="5"></textarea>
                </div>
                <div class="form-group col-lg-4 offset-lg-4">
                    <label for="input4">The max value for the search</label>
                    <textarea class="form-control" id="input4" name="input4" rows="1" cols="5"></textarea>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{> footer}}
